@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  font-family: "IBM Plex Mono", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
header {
  width: 100%;
  max-width: 1280px;
  height: 700px;
  background-color: #080808;
}
p {
  color: #9c9c9c;
  font-size: 14px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1%;
}
button {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  font-family: "IBM Plex Mono", monospace;
  letter-spacing: 0%;
  color: #ffffff;
  cursor: pointer;
}
.navbar-container {
  width: 100%;
  max-width: 1110px;
  height: 70px;
  margin: 0 5.3125rem 0px 5.3125rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #1b1b1b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
}
.navbar {
  width: 717px;
  padding: 24px 0px 28px 0px;
  display: flex;
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 70px;
  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}
.nav-menu a {
  text-decoration: none;
  color: #9c9c9c;
}
.navbar-container .socials {
  display: flex;
  gap: 25px;
}
.home {
  display: flex;
  align-items: center;
}
.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 538px;
  height: 247px;
  margin: 12.5625rem auto 6.8125rem auto;
  gap: 30px;
}

.name-heading {
  height: 52px;
  color: #ffffff;
  font-weight: 800;
  font-size: 44px;
  line-height: 100%;
  font-family: raleway, sans-serif;
}
.name-subheading {
  width: 492px;
  height: 72px;
  margin: 10px 46px 30px 0px;
}
.start-btn {
  width: 307.89px;
  /*background-color: #FF6E31;*/
  background-color: #3f8e00;
  border: 1px solid #62ba1b;
  border-radius: 4px;
  font-size: 16px;
  padding: 21px 54px 21px 64px;
  gap: 30px;
  box-shadow: #3f8e0080 0px 8px 30px 0px;
}
.start-btn span {
  padding-right: 10px;
}
.selfie {
  width: 350px;
  height: 350px;
  margin-top: 150px;
  margin-right: 147px;
}
.selfie img {
  clip-path: circle();
  width: 400px;
}
.experience-heading {
  margin-left: 180px;
  margin-bottom: 20px;
  color: #ffffff;
}
.experience-heading h6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}
.work {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.workplace {
  height: 60px;
}
.case-studies-section {
  width: 90%;
  max-width: 897px;
  height: 1242px;
  margin: 80px auto;
  flex-direction: column;
}

.case-studies-header h2 {
  margin-left: 326px;
  margin-right: 358px;
  color: #080808;
  font-weight: 800;
  font-size: 34px;
  line-height: 100%;
  font-family: raleway, sans-serif;
}
.studies-summary {
  margin-top: 10px;
  margin-right: 180px;
  margin-left: 147px;
}
.studies-summary p span {
  display: flex;
  justify-content: center;
}
.studies-summary p {
  text-align: center;
}

.case1,
.case3 {
  width: 892px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.case1 {
  margin-top: 60px;
}

.case1 .fintech {
  width: 72px;
  margin-top: 27px;
  border-radius: 60px;
  background-color: #fff6e9;
  color: #ffa217;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 1%;
  display: flex;
  justify-content: center;
}
.case1-heading,
.case2-heading,
.case3-heading {
  font-size: 24px;
  font-weight: 800;
  line-height: 100%;
  color: #080808;
  margin-top: 20px;
  font-family: raleway, sans-serif;
}
.case1-description,
.case2-description,
.case3-description {
  width: 421px;
  margin-top: 10px;
}
.case1-button {
  width: 189.89px;
  height: 38px;
  background-color: #ffa217;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: #2ab0901a 0px 8px 30px 0px;
  margin-bottom: 17px;
  margin-top: 40px;
}
.case1-image {
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
}
.case2 {
  width: 897px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.case2 .edtech {
  width: 72px;
  margin-top: 27px;
  border-radius: 60px;
  background-color: #d0e6ff;
  color: #000aff;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 1%;
  display: flex;
  justify-content: center;
}
.case2-button {
  width: 189.89px;
  height: 38px;
  background-color: #000aff;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: #000aff1a 0px 8px 30px 0px;
  margin-bottom: 17px;
  margin-top: 40px;
}
.case2-image {
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
}
.case3 .pharma {
  width: 72px;
  margin-top: 27px;
  border-radius: 60px;
  background-color: #e0fff8;
  color: #2ab090;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 1%;
  display: flex;
  justify-content: center;
}
.case3-button {
  width: 189.89px;
  height: 38px;
  background-color: #2ab090;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: #2ab0901a 0px 8px 30px 0px;
  margin-bottom: 17px;
  margin-top: 40px;
}
.case3-image {
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
}
.testimonials-section {
  width: 1280px;
  height: 804px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #080808;
}

.testimonials-header h2 {
  color: #ffffff;
  margin-top: 80px;
  font-weight: 800;
  font-size: 34px;
  line-height: 100%;
  margin-bottom: 10px;
  font-family: raleway, sans-serif;
}
.testimonials-summary {
  width: 570px;
}

.testimonials-summary p {
  text-align: center;
}
.statements {
  display: flex;
  flex-wrap: wrap;
}
.statement1 {
  width: 445px;
  height: 212px;
  margin-top: 60px;
  margin-left: 180px;
  margin-bottom: 62px;
  border: 1px solid transparent;
  background: linear-gradient(#080808, #080808) padding-box,
    linear-gradient(90deg, #484848, #1b1b1b00) border-box;
  border-radius: 6px;
}

.statement2 {
  width: 445px;
  height: 212px;
  margin-top: 60px;
  margin-left: 30px;
  border: 1px solid transparent;
  background: linear-gradient(#080808, #080808) padding-box,
    linear-gradient(90deg, #484848, #1b1b1b00) border-box;
  border-radius: 6px;
}

.statement3 {
  width: 445px;
  height: 212px;
  margin-left: 180px;
  margin-bottom: 80px;
  border: 1px solid transparent;
  background: linear-gradient(#080808, #080808) padding-box,
    linear-gradient(90deg, #484848, #1b1b1b00) border-box;
  border-radius: 6px;
}

.statement4 {
  width: 445px;
  height: 212px;
  margin-left: 30px;
  border: 1px solid transparent;
  background: linear-gradient(#080808, #080808) padding-box,
    linear-gradient(90deg, #484848, #1b1b1b00) border-box;
  border-radius: 6px;
}
.statement1 .quotations,
.statement2 .quotations,
.statement3 .quotations,
.statement4 .quotations {
  position: absolute;
  margin-top: -11px;
  margin-left: 10px;
}
.statement1 p,
.statement2 p,
.statement3 p,
.statement4 p {
  width: 409px;
  margin-top: 30px;
  margin-left: 30px;
}

.client1,
.client2,
.client3,
.client4 {
  margin-left: 30px;
  margin-top: 30px;
  position: absolute;
}
.statement1 h4,
.statement2 h4,
.statement3 h4,
.statement4 h4 {
  font-family: raleway, sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  margin-top: 45px;
  margin-right: 234px;
  margin-left: 100px;
}
.recent-work {
  width: 1109.89px;
  margin-left: 85px;
  margin-bottom: 79px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recent-work-heading h2 {
  height: 40px;
  font-weight: 800;
  font-size: 34px;
  line-height: 100%;
  margin-bottom: 10px;
  font-family: raleway, sans-serif;
  color: #080808;
}
.recent-work-summary p span {
  display: flex;
  justify-content: center;
}
.recent-work-summary p {
  width: 570px;
  text-align: center;
}

.recent-work-cards {
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.work-card1,
.work-card2 {
  width: 445px;
  height: 494px;
}
.work-card1 {
  margin-left: 35.11px;
}
.work-card2 {
  margin-right: 35px;
}
.recent-work-image {
  object-fit: cover;
  height: 300px;
  border-radius: 6px;
  overflow: hidden;
}
.work-card1-heading,
.work-card2-heading {
  color: #080808;
  margin-top: 40px;
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  font-family: raleway, sans-serif;
}
.work-description {
  width: 421px;
  margin-top: 20px;
}
.know-button {
  width: 139.89px;
  height: 38px;
  background-color: #3f8e00;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: #3f8e004d 0px 8px 30px 0px;
  margin-bottom: 79px;
  margin-top: 20px;
}
.know-button span {
  display: flex;
  align-items: center;
}
.contact {
  width: 100%;
  max-width: 1280px;
  height: 672px;
  background-color: #080808;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-heading h2 {
  width: 206px;
  height: 40px;
  font-weight: 800;
  font-size: 34px;
  line-height: 100%;
  font-family: raleway, sans-serif;
  color: #ffffff;
}
.contact-summary p {
  width: 570px;
  height: 48px;
  text-align: center;
  margin-bottom: 40px;
}
.contact-form {
  width: 350px;
  height: 373px;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-left: 465px;
  margin-right: 465px;
}

form label {
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 5px;
}
.input-container {
  margin-top: 5px;
}
form input[type="text"],
form input[type="email"] {
  width: 350px;
  height: 40px;
  padding: 0px 12px;
  color: #757575;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  margin-bottom: 20px;
}
form input[type="text"],
form input[type="tel"] {
  width: 350px;
  height: 40px;
  padding: 0px 12px;
  color: #757575;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  margin-bottom: 20px;
}

#message {
  width: 350px;
  height: 120px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 21px;
  border: 1px #d8d8d8;
  border-radius: 4px;
  color: #757575;
  font-family: "IBM Plex Mono", monospace;
  margin-bottom: 20px;
}

form input[type="submit"] {
  width: 350px;
  height: 50px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  background-color: #3f8e00;
  border: 1px #62ba1b solid;
  border-radius: 4px;
  cursor: pointer;
  padding-left: 141.55px;
  padding-right: 157.45px;
  background-image: url(Images/vectors/Vector.svg);
  background-repeat: no-repeat;
  background-position: right 141.55px center;
}

footer {
  width: 1280px;
  height: 70px;
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
}
