@import url(https://fonts.google.com/specimen/IBM+Plex+Mono?query=IBM+Plex+Mono);

@import url(https://fonts.google.com/specimen/Raleway?query=raleway);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  font-family: "IBM Plex Mono", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header {
  width: 1280px;
  height: 700px;
  background-color: #080808;
}
.navbar-container {
  width: 1110px;
  height: 70px;
  margin: 0 85px 0px 85px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #1b1b1b;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar {
  width: 717px;
  height: 18px;
  padding: 24px 9px 28px 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 1%;
}
.nav-menu li a {
  text-decoration: none;
  color: #9c9c9c;
}
.navbar-container .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.intro-section {
  width: 538px;
  height: 247px;
  margin: 131px 32px 109px 180px;
  gap: 30px;
}

.name-heading {
  width: 426px;
  height: 52px;
  color: #ffffff;
  font-weight: 800;
  font-size: 44px;
  line-height: 100%;
  letter-spacing: 0;
  font-family: raleway, sans-serif;
}
.name-subheading {
  width: 492px;
  height: 72px;
  margin: 10px 46px 30px 0px;
  color: #9c9c9c;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1%;
}
.start-btn {
  width: 307.89px;
  height: 63px;
  /*background-color: #FF6E31;*/
  background-color: #3f8e00;
  border: 1px solid #62ba1b;
  border-radius: 4px;
  color: #ffffff;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  cursor: pointer;
  padding: 21px 64px 21px 64px;
  gap: 30px;
  box-shadow: #3f8e0080 0px 8px 30px 0px;
}
.start-btn span {
  padding-right: 10px;
}
.selfie {
  margin-right: 147px;
}
.selfie img {
  clip-path: circle();
  width: 400px;
}
.experience-heading {
  margin-left: 180px;
  margin-bottom: 20px;
  color: #ffffff;
}
.experience-heading h6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}
.work {
  width: 920px;
  height: 60px;
  margin: 0px 180px 45px 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.workplace {
  width: 160px;
  height: 60px;
}
.case-studies-section {
  width: 897px;
  height: 1242px;
  margin-left: 207px;
  margin-top: 80px;
  margin-right: 176px;
  margin-bottom: 80px;
  flex-direction: column;
}

.case-studies-header h2 {
  color: #080808;
  font-weight: 800;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0%;
  font-family: raleway, sans-serif;
  gap: 10px;
}
.studies-summary {
  width: 570px;
  height: 72px;
  margin-top: 10px;
  margin-right: 180px;
  margin-left: 147px;
  margin-bottom: 0px;
}
.studies-summary p span {
  display: flex;
  justify-content: center;
}
.studies-summary p {
  text-align: center;
  color: #9c9c9c;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1%;
}

.case1,
.case3 {
  width: 892px;
  height: 300px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "IBM Plex Mono", monospace;
}
.case1 {
  margin-top: 60px;
}

.case1 .fintech {
  width: 72px;
  height: 24px;
  margin-top: 27px;
  border-radius: 60px;
  background-color: #fff6e9;
  color: #ffa217;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 1%;
  display: flex;
  justify-content: center;
}
.case1-heading,
.case2-heading,
.case3-heading {
  font-size: 24px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 0%;
  color: #080808;
  margin-top: 20px;
  font-family: "IBM Plex Mono", monospace;
}
.case1-description,
.case2-description,
.case3-description {
  width: 421px;
  height: 96px;
  margin-top: 10px;
  color: #9c9c9c;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1%;
  font-family: "IBM Plex Mono", monospace;
}
.case1-button {
  width: 189.89px;
  height: 38px;
  background-color: #ffa217;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  font-family: "IBM Plex Mono", monospace;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: #2ab0901a 0px 8px 30px 0px;
  margin-bottom: 17px;
  margin-top: 40px;
}
.case1-image {
  object-fit: cover;
  width: 445px;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
}
.case2 {
  width: 897px;
  height: 300px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.case2 .edtech {
  width: 72px;
  height: 24px;
  margin-top: 27px;
  border-radius: 60px;
  background-color: #d0e6ff;
  color: #000aff;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 1%;
  display: flex;
  justify-content: center;
}
.case2-button {
  width: 189.89px;
  height: 38px;
  background-color: #000aff;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  font-family: "IBM Plex Mono", monospace;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: #000aff1a 0px 8px 30px 0px;
  margin-bottom: 17px;
  margin-top: 40px;
}
.case2-image {
  object-fit: cover;
  width: 445px;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
}
.case3 .pharma {
  width: 72px;
  height: 24px;
  margin-top: 27px;
  border-radius: 60px;
  background-color: #e0fff8;
  color: #2ab090;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 1%;
  display: flex;
  justify-content: center;
}
.case3-button {
  width: 189.89px;
  height: 38px;
  background-color: #2ab090;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  font-family: "IBM Plex Mono", monospace;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: #2ab0901a 0px 8px 30px 0px;
  margin-bottom: 17px;
  margin-top: 40px;
}
.case3-image {
  object-fit: cover;
  width: 445px;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
}
.testimonials-section {
  width: 1280px;
  height: 804px;
  margin-bottom: 80px;
  flex-direction: column;
  background-color: #080808;

}

.testimonials-header h2 {
  color: #ffffff;
  margin-top: 80px;
  font-weight: 800;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 10px;
  font-family: raleway, sans-serif;
}
.testimonials-summary {
  width: 570px;
  height: 48px;
  
}

.testimonials-summary p {
  text-align: center;
  color: #9c9c9c;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1%;
}
.statement1 {
  width: 445px;
  height: 212px;
  margin-top: 60px;
  margin-left: 180px;
  margin-bottom: 110px;
  border: 1px solid transparent;
  background: linear-gradient( #080808, #080808) padding-box,
    linear-gradient(90deg, #484848, #1B1B1B00) border-box;
  border-radius: 6px;
  
  

 
}

.statement2 {
  width: 445px;
  height: 212px;
  margin-top: 60px;
  margin-left: 30px;
    border: 1px solid transparent;
  background: linear-gradient( #080808, #080808) padding-box,
    linear-gradient(90deg, #484848, #1B1B1B00) border-box;
  border-radius: 6px;
  
}

.statement3 {
  width: 445px;
  height: 212px;
  margin-top: 62px;
  margin-left: 180px;
    border: 1px solid transparent;
  background: linear-gradient( #080808, #080808) padding-box,
    linear-gradient(90deg, #484848, #1B1B1B00) border-box;
  border-radius: 6px;
}

.statement4 {
  width: 445px;
  height: 212px;
  margin-top: 62px;
  margin-left: 30px;
    border: 1px solid transparent;
  background: linear-gradient( #080808, #080808) padding-box,
    linear-gradient(90deg, #484848, #1B1B1B00) border-box;
  border-radius: 6px;
}
.statement1 .quotations,
.statement2 .quotations,
.statement3 .quotations,
.statement4 .quotations {
  margin-top: -32px;
  margin-left: 10px;
}
.statement1 p,
.statement2 p,
.statement3 p,
.statement4 p {
  width: 409px;
  height: 72px;
  margin-top: 30px;
  margin-left: 30px;
  
  color: #9c9c9c;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1%;
}
.statement1 h4,
.statement2 h4,
.statement3 h4,
.statement4 h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  margin
}
.client1, .client2, .client3, .client4 {
  margin-left: 30px;
  margin-top: 30px;
}
